* {
	margin: 0;
	padding: 0;
	font-family: var(--mali);
}
body {
	margin: 0;
}
:root {
	--lightGrey: #454648;
	--lightGrey2: #6F6F6F;

	--red:#E64F4F;
	--orange: #FFA64D;
	--yellow: #F8F84A;
	--lightGreen: #A0F549;
	--greed: #4BFEA4;
	--cyan: #4CFFFF;
	--purple: #3F3FD4;
	--lightPurple: #9F49F4;
	--pink: #FB4BFB;
	--white: #FFFFFF;
	--mali: "Mali";
}
/* header */
#multipliers {
	height: 8vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #1B1B1B;
	color: var(--white);
	font-size: 24px;
}
main {
	padding: 2vh 0 0 0;
	display: flex;
	flex-direction: row;
	background-color: #282628;
	height: 90vh;
}
/* buttons part */
#upgradeCirclesSpeedBtns {
	display: flex;
	flex-direction: column;
	flex: 0.15;
	gap: 0px;
}
#upgradeCirclesSpeedBtns button {
	height: 65px;
	border-radius: 5px;
	font-size: 12px;
	border: 0px;
}
.upgradeTextBox {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 5px 0px;
	border: none;
	font-size: 12px;
	display: none;
	color: #000;
	
}
#upgradeCirclesSpeedBtns button:hover + .upgradeTextBox{
	display: flex;
}
#upgradeCirclesSpeedBtns button:hover{
	border-radius: 5px 5px 0px 0px;
	border: 0px;
}

/* the canvas + player money */
#circle-availableFunds {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0.7;
}
#circle-availableFunds #infos {
	display: flex;
	justify-content: center;
	align-items: center;
}
#circle-availableFunds #availableFunds {
	color: var(--white);
	font-size: 35px;
}
#circle-availableFunds #canvas {
	width: 100%;
}
/* navBar */
#navBar {
	display: flex;
	flex-direction: column;
	color: var(--white);
	background-color: var(--lightGrey);
	font-size: 22px;
	list-style-type: none;
	text-decoration: none;
	flex: 0.15;
}
#navBar ul {
	list-style-type: none;
}
#navBar ul li{
	padding: 20px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
}
#navBar ul li a {
	text-decoration: none;
	color: #fff;
}
#navBar ul li:hover{
	background-color: var(--lightGrey2);
}

/* phone  */
@media screen and (width <= 480px) {
	#navBar .fa-circle{
		color: rgb(240, 0, 0) !important;
	}
	#multipliers {
		font-size: 10px;
	}
	#upgradeCirclesSpeedBtns {
		flex: 0.25;
	}
	#upgradeCirclesSpeedBtns > * {
		font-size: 10px;
	}
	/* canvas  */
	#circle-availableFunds {
		flex: 1;
	}
	/* navBar  */
	#navBar {
		display: none;
		font-size: 10px;
		flex: auto;
	}
}
/* tablet  */
@media screen and (width > 480px) and (width < 1024px) {
	/* header  */
	#multipliers {
		font-size: 10px;
	}
	/* btn  */
	#upgradeCirclesSpeedBtns > * {
		font-size: 10px;
	}
	/* navBar  */
	#navBar {
		font-size: 12px;
	}
	#navBar .fa-circle{
		color: rgb(240, 150, 0) !important;
	}
	#navBar ul li {
    	padding: 28px 15px;
	}
}
/* desktop  */
@media screen and (width >= 1024px) {
	#navBar .fa-circle{
		color: rgb(0, 240, 0) !important;
	}
}
