* {
	margin: 0;
	padding: 0;
	font-family: var(--mali);
}
body {
	margin: 0;
}
:root {
	--lightGrey: #454648;
	--lightGrey2: #6F6F6F;

	--red:#E64F4F;
	--orange: #FFA64D;
	--yellow: #F8F84A;
	--lightGreen: #A0F549;
	--greed: #4BFEA4;
	--cyan: #4CFFFF;
	--purple: #3F3FD4;
	--lightPurple: #9F49F4;
	--pink: #FB4BFB;
	--white: #FFFFFF;
	--mali: "Mali";
}
/* header */
#multipliers {
	height: 8vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #1B1B1B;
	color: var(--white);
	font-size: 24px;
}
main {
	padding: 2vh 0 0 0;
	display: flex;
	flex-direction: row;
	background-color: #282628;
	height: 90vh;
}
/* buttons part */
#button-container {	
	display: flex;
	flex-direction: column;
	gap: 3px;
}
#button-container section {	
	gap: 3px;
}
#button-container button {
	border-radius: 2px;
	border: 0px;
	padding: 2px 5px;
}
#button-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 0.2;
}
#button-container section > button:nth-child(1) {
	flex: 0.3;
	font-size: 24px;
}
#button-container section > button:nth-child(2) {
	flex: 1;
	font-size: 10px;
}
.textBox {
	width: 90px;
	height: 52px;
	border-radius: 5px;
	font-size: 10px;
	border: 0px;
	padding: 2px 5px;
}

#secA {display: flex; flex-direction: row;}
#secB {display: flex; flex-direction: row;}
#secC {display: flex; flex-direction: row;}
#secD {display: flex; flex-direction: row;}
#secE {display: flex; flex-direction: row;}
#secF {display: flex; flex-direction: row;}
#secG {display: flex; flex-direction: row;}
#secH {display: flex; flex-direction: row;}
#secI {display: flex; flex-direction: row;}
#secJ {display: flex; flex-direction: row;}

#ascA {opacity: 0;}
#ascB {opacity: 0;}
#ascC {opacity: 0;}
#ascD {opacity: 0;}
#ascE {opacity: 0;}
#ascF {opacity: 0;}
#ascG {opacity: 0;}
#ascH {opacity: 0;}
#ascI {opacity: 0;}
#ascJ {opacity: 0;}

#textBoxA {opacity: 0;}
#textBoxB {opacity: 0;}
#textBoxC {opacity: 0;}
#textBoxD {opacity: 0;}
#textBoxE {opacity: 0;}
#textBoxF {opacity: 0;}
#textBoxG {opacity: 0;}
#textBoxH {opacity: 0;}
#textBoxI {opacity: 0;}
#textBoxJ {opacity: 0;}

/* botton hover  */
#secA:has(#upgradeSpeedBtnA:hover) #textBoxA {opacity: 1;}
#secB:has(#upgradeSpeedBtnB:hover) #textBoxB {opacity: 1;}
#secC:has(#upgradeSpeedBtnC:hover) #textBoxC {opacity: 1;}
#secD:has(#upgradeSpeedBtnD:hover) #textBoxD {opacity: 1;}
#secE:has(#upgradeSpeedBtnE:hover) #textBoxE {opacity: 1;}
#secF:has(#upgradeSpeedBtnF:hover) #textBoxF {opacity: 1;}
#secG:has(#upgradeSpeedBtnG:hover) #textBoxG {opacity: 1;}
#secH:has(#upgradeSpeedBtnH:hover) #textBoxH {opacity: 1;}
#secI:has(#upgradeSpeedBtnI:hover) #textBoxI {opacity: 1;}
#secJ:has(#upgradeSpeedBtnJ:hover) #textBoxJ {opacity: 1;}



/* the canvas + player money */
#circle-availableFunds {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0.7;
}
#circle-availableFunds #infos {
	display: flex;
	justify-content: center;
	align-items: center;
}
#circle-availableFunds #availableFunds {
	color: var(--white);
	font-size: 35px;
}
#circle-availableFunds #canvas {
	width: 100%;
}


/* navBar */
#navBar {
	display: flex;
	flex-direction: column;
	color: var(--white);
	background-color: var(--lightGrey);
	font-size: 22px;
	list-style-type: none;
	text-decoration: none;
	flex: 0.15;
}
#navBar ul {
	list-style-type: none;
}
#navBar ul li{
	padding: 20px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
}
#navBar ul li a {
	text-decoration: none;
	color: #fff;
}
#navBar ul li:hover{
	background-color: var(--lightGrey2);
}

/* phone  */
@media screen and (width <= 480px) {
	#navBar .fa-circle{
		color: rgb(240, 0, 0) !important;
	}
	#multipliers {
		font-size: 10px;
	}
	#button-container {
		display: flex;
		flex-direction: row;
		flex: 0.25;
	}
	#button-container > * {
		font-size: 10px;
	}
	/* canvas  */
	#circle-availableFunds {
		flex: 1;
	}
	/* navBar  */
	#navBar {
		display: none;
		font-size: 10px;
		flex: auto;
	}
}
/* tablet  */
@media screen and (width > 480px) and (width < 1024px) {
	/* header  */
	#multipliers {
		font-size: 10px;
	}
	/* btn  */
	#button-container > * {
		font-size: 10px;
	}
	/* navBar  */
	#navBar {
		font-size: 12px;
	}
	#navBar .fa-circle{
		color: rgb(240, 150, 0) !important;
	}
	#navBar ul li {
    	padding: 28px 15px;
	}
}
/* desktop  */
@media screen and (width >= 1024px) {
	#navBar .fa-circle{
		color: rgb(0, 240, 0) !important;
	}
}
