* {
	margin: 0;
	padding: 0;
	font-family: var(--mali);
}
body {
	margin: 0;
}
:root {
	--lightGrey: #454648;
	--lightGrey2: #6F6F6F;

	--red:#E64F4F;
	--orange: #FFA64D;
	--yellow: #F8F84A;
	--lightGreen: #A0F549;
	--greed: #4BFEA4;
	--cyan: #4CFFFF;
	--purple: #3F3FD4;
	--lightPurple: #9F49F4;
	--pink: #FB4BFB;
	--white: #FFFFFF;
	--mali: "Mali";
}
/* header */
#multipliers {
	height: 8vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #1B1B1B;
	color: var(--white);
	font-size: 18px;
}
main {
	padding: 2vh 0 0 0;
	display: flex;
	flex-direction: row;
	background-color: #282628;
	height: 90vh;
	gap: 10px;
}
/* buttons part */
#upgradeCirclesSpeedBtns {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 0.2;
}
#upgradeCirclesSpeedBtns button {
	height: 65px;
	border-radius: 10px;
}

/* the canvas + player money */
#circle-availableFunds {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0.7;
}
#circle-availableFunds #infos {
	display: flex;
	justify-content: center;
	align-items: center;
}
#circle-availableFunds #availableFunds {
	color: var(--white);
	font-size: 35px;
}
#circle-availableFunds #canvas {
	width: 100%;
	height: 100%;
}
/* navBar */
#navBar {
	display: flex;
	flex-direction: column;
	color: var(--white);
	background-color: var(--lightGrey);
	font-size: 22px;
	list-style-type: none;
	text-decoration: none;
	flex: 0.15;
}
#navBar ul {
	list-style-type: none;
}
#navBar ul li{
	padding: 20px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
}
#navBar ul li a {
	text-decoration: none;
	color: #fff;
}
#navBar ul li:hover{
	background-color: var(--lightGrey2);
}
